---
http_interactions:
- request:
    method: get
    uri: http://local.content-network.dev/zapi/v1/Entry/ondeck/ondeckEdition/all?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"256","title":"Captain Cook 7 Day Sale","url":"http:\/\/local.content-network.dev\/ondeck\/captain-cook-7-day-sale\/","date":{"date":"2016-02-18
        00:00:00.000000","timezone_type":3,"timezone":"Australia\/Sydney"},"dateTime":null,"postDate":{"date":"2016-02-18
        13:39:00.000000","timezone_type":3,"timezone":"Australia\/Sydney"},"excerptText":"Gold
        Diner Specials, Stradbroke Island Saturday Sunrise Specials, Deals on Kangaroo
        Island Adventure Tours and more!","body":"<p>Gold Diner Specials, Stradbroke
        Island Saturday Sunrise&nbsp;Specials, Deals on Kangaroo Island Adventure
        Tours and more!<\/p>","bodyMatrix":[],"entryOrder":"0","faqQuestionsAnswers":null,"featuredEntry":"0","googleMapIframe":null,"locationName":null,"productPrice":null,"regionTitle":null,"slideDuration":null,"subtitle":null,"time":null,"tourOperatingDetails":null,"youtubeIframe":null,"bannerImage":[],"bannerTextLine1":null,"bannerTextLine2":null,"bannerTextLine3":null,"bannerTextLine4":null,"hyperlink":[{"linkURL":"http:\/\/us12.campaign-archive1.com\/?u=5e99feac3ddcbafe28281a69d&id=719f6d44e8","linkText":"OnDeck
        - Edition 8","linkTitle":"Gold Diner Specials, Stradbroke Island Saturday
        Packages, Deals on Kangaroo Island Adventure Tours and more!","linkTarget":"_blank","linkRelations":""}],"featureImage":[{"url":"https:\/\/s3-ap-southeast-2.amazonaws.com\/akil-doc-migration-test\/OnDeck\/037053-Cylinder-Beach-600w.jpg","title":"037053  Cylinder  Beach
        600w","small":"https:\/\/s3-ap-southeast-2.amazonaws.com\/akil-doc-migration-test\/OnDeck\/_small\/037053-Cylinder-Beach-600w.jpg","medium":"https:\/\/s3-ap-southeast-2.amazonaws.com\/akil-doc-migration-test\/OnDeck\/_medium\/037053-Cylinder-Beach-600w.jpg","large":"https:\/\/s3-ap-southeast-2.amazonaws.com\/akil-doc-migration-test\/OnDeck\/_large\/037053-Cylinder-Beach-600w.jpg","thumbnail180":"https:\/\/s3-ap-southeast-2.amazonaws.com\/akil-doc-migration-test\/OnDeck\/_thumbnail180\/037053-Cylinder-Beach-600w.jpg","thumbnail600":"https:\/\/s3-ap-southeast-2.amazonaws.com\/akil-doc-migration-test\/OnDeck\/_thumbnail600\/037053-Cylinder-Beach-600w.jpg"}],"imageGallery":[{"url":"https:\/\/s3-ap-southeast-2.amazonaws.com\/akil-doc-migration-test\/OnDeck\/037053-Cylinder-Beach-600w.jpg","title":"037053  Cylinder  Beach
        600w","small":"https:\/\/s3-ap-southeast-2.amazonaws.com\/akil-doc-migration-test\/OnDeck\/_small\/037053-Cylinder-Beach-600w.jpg","medium":"https:\/\/s3-ap-southeast-2.amazonaws.com\/akil-doc-migration-test\/OnDeck\/_medium\/037053-Cylinder-Beach-600w.jpg","large":"https:\/\/s3-ap-southeast-2.amazonaws.com\/akil-doc-migration-test\/OnDeck\/_large\/037053-Cylinder-Beach-600w.jpg","thumbnail180":"https:\/\/s3-ap-southeast-2.amazonaws.com\/akil-doc-migration-test\/OnDeck\/_thumbnail180\/037053-Cylinder-Beach-600w.jpg","thumbnail600":"https:\/\/s3-ap-southeast-2.amazonaws.com\/akil-doc-migration-test\/OnDeck\/_thumbnail600\/037053-Cylinder-Beach-600w.jpg"}],"packageDetails":[],"promotionalSlides":[],"regionThumbnail":[],"sectionName":"OnDeck","sectionHandle":"ondeck","typeName":"Edition","typeHandle":"ondeckEdition","jsonUrl":"http:\/\/local.content-network.dev\/zapi\/v1\/Entry\/ondeck\/ondeckEdition\/256.json\/"},{"id":"104","title":"Great
        deals on Australian and overseas travel.","url":"http:\/\/local.content-network.dev\/ondeck\/great-deals-on-australian-and-overseas-travel\/","date":{"date":"2016-01-21
        00:00:00.000000","timezone_type":3,"timezone":"Australia\/Sydney"},"dateTime":null,"postDate":{"date":"2016-01-21
        15:28:00.000000","timezone_type":3,"timezone":"Australia\/Sydney"},"excerptT[...]
